$primary-color: rgb(250, 105, 50);
$secondary-color: rgb(255, 183, 0);

.alert{
  color: rgb(250, 105, 50);
  text-align: center;
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}